.bg {
    background-color: #c32625;
}

body {
    color: #d3d3d3;
    font-family: "Open Sans";
    font-weight: 700;
}

h1,
.fw-800 {
    font-weight: 800;
}

.bg-light-gray {
    background-color: #d3d3d3;
}
