.bg {
    background-color: #c32625;
}

body {
    color: #d3d3d3;
    font-family: "Open Sans";
    font-weight: 400;
}

h1,
.fw-800 {
    font-weight: 800;
}

.bg-light-gray {
    background-color: #d3d3d3;
    color: #000;
}

.btn-gray,
.btn-gray:hover {
    background-color: #d3d3d3;
    color: #c32625;
    border-color: #c32625;
}

.btn-gray:active,
.btn-gray:focus {
    background-color: #d4d4d4;
    color: #c32625;
    border-color: #c42726;
    box-shadow: none;
}

.rank-list img.border {
    border-color: #c32625 !important;
}

.text-gray {
    color: #5d5d5d;
}

.page-item .page-link {
    background-color: #c32625 !important;
    color: #d3d3d3 !important;
}

.page-item .page-link.disabled {
    background-color: #c42726 !important;
    color: #d3d3d3 !important;
}

.page-link:focus {
    box-shadow: 0 0 0 0.25rem rgba(196, 39, 38, 0.25);
}
